body {
  background-color: $bgColor;
  font-family: $fontFamily;
  margin: 10px;
}

h1,
h2 {
  margin: 0;
}

.hidden {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.bold {
  font-weight: bold;
  font-family: $fontHeading;
  font-weight: 400;
  font-size: 20px;
}
