body {
  background-color: $bgColor;
}

h2,
p {
  margin: 0;
}

.hidden {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  //   width: 0;
  //   height: 0;
}

.bold {
  font-weight: bold;
}
