$bgColor: lightgray;

$fontHeading: 'Belanosima', sans-serif;
$fontFamily: 'Montserrat', sans-serif;

$primaryColor: #5896fb;
$whiteColor: #fff;
$greyColor: #565656;

$boxShadow: 1px 1px 5px 0px $greyColor;
$textShadow: $whiteColor 2px 2px 0px;

$borderRadius: 5px;
