.card {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 50%;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  margin: 10px;

  &__image {
    display: block;
    width: 50%;
    // height: 300px;
    // object-fit: cover;
    align-self: flex-start;
  }

  &__content {
    flex-direction: column;
  }

  &__heading {
    margin-bottom: 10px;
  }

  &__description {
    margin-bottom: 10px;
  }
}
