.card {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 600px;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;

  &__image {
    display: block;
    max-width: 50%;
    align-self: flex-start;
  }

  &__content {
    flex-direction: column;
  }
}
